#text{
    padding-top: 20px;
}

#footer{
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
}

i{
    width: 20px;
    height: 20px;
}

h6{
    font-weight: bold;
}

#company{
    font-size: 24px;    
}

#end{
    background-color: rgb(197, 27, 27);
    font-weight: bold;
}